# Lines starting with '#' are comments.

# These owners will be the default owners for everything in the repo
# @yorkittran and @anaverage-enri will be requested for review when someone opens a pull request.
*       @yorkittran @anaverage-enri
