- model_scope = 'activerecord.attributes.university'
- content_for :title, t('.title')
- breadcrumb :universities

.row.mb-10
  = turbo_frame_tag University.new, src: new_university_path(@university)
#universities.row.g-5
  = render partial: 'university', collection: @universities
