- model_scope = 'activerecord.attributes.topic'
- content_for :title, t('.title')
- breadcrumb :topics

.row.mb-10
  = turbo_frame_tag Topic.new, src: new_topic_path(@topic)
#topics.row.g-5
  = render partial: 'topic', collection: @topics
